body{

    background-color:white ;
    font-family: Arial;
}

h1{

color : blue;
text-align: center;

}

p1{

    color:red;
    font-size:30px;

}


button{

background-color: black;
color:white;
padding:10px 30px;
border:3px;
border-radius: 6px;

}