body{

font-family:Arial;

background:#f4f4f4;

padding:50px;

text-align:center;

}

h1{

color:#f7df1e;

background:#323330;

display:inline-block;

padding:20px;

border-radius:10px;

}

p{

color:white;

background:#323330;

display:inline-block;

padding:20px;

border-radius:10px;

}