body{

font-family:Arial;

background:#f4f4f4;

text-align:center;

padding:40px;

}

#card{

width:450px;

margin:auto;

background:white;

padding:30px;

border-radius:10px;

box-shadow:0 0 10px gray;

transition:.3s;

}

input,
select,
button{

padding:10px;

margin:10px;

}

button{

cursor:pointer;

}

.active{

background:#0d6efd;

color:white;

}