/* ===========================
   CSS Syntax Example
=========================== */

/* Body Selector */

body {

    background-color: #f5f5f5;

    font-family: Arial, Helvetica, sans-serif;

    padding: 40px;

}


/* Heading */

h1 {

    color: blue;

    font-size: 40px;

}


/* Sub Heading */

h2 {

    color: darkgreen;

}


/* Paragraph */

p {

    color: #444444;

    font-size: 20px;

}


/* Button */

button {

    background-color: crimson;

    color: white;

    border: none;

    padding: 12px 25px;

    border-radius: 6px;

    cursor: pointer;

}