body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    text-align:center;
    padding:50px;
}

h1{
    background:#6f42c1;
    color:white;
    padding:20px;
    border-radius:10px;
    display:inline-block;
}