/* ==========================
   04 - Colors & Background
========================== */

*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

body{

    font-family:Arial, sans-serif;

    background:#f4f4f4;

    padding:30px;

}

h1{

    text-align:center;

    margin-bottom:30px;

}

/* Color Boxes */

.colors{

    display:flex;

    gap:20px;

    flex-wrap:wrap;

    margin-bottom:40px;

}

.box{

    width:180px;

    height:120px;

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    font-weight:bold;

    border-radius:10px;

}

/* Color Name */

.red{

    background:red;

}

/* HEX */

.hex{

    background:#3498db;

}

/* RGB */

.rgb{

    background:rgb(46,204,113);

}

/* RGBA */

.rgba{

    background:rgba(155,89,182,0.7);

}

/* HSL */

.hsl{

    background:hsl(35,100%,50%);

}

/* Hero Section */

.hero{

    background-image:url("images/nature.jpg");

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

    color:white;

    text-align:center;

    padding:120px 20px;

    border-radius:12px;

    margin-bottom:40px;

}

.hero button{

    margin-top:20px;

    padding:12px 25px;

    border:none;

    background:#3498db;

    color:white;

    border-radius:5px;

    cursor:pointer;

}

.hero button:hover{

    background:#2c80b4;

}

/* Linear Gradient */

.gradient{

    background:linear-gradient(to right,#3498db,#8e44ad);

    color:white;

    padding:60px;

    text-align:center;

    border-radius:10px;

    margin-bottom:30px;

}

/* Radial Gradient */

.radial{

    background:radial-gradient(circle,#f39c12,#d35400);

    color:white;

    padding:60px;

    text-align:center;

    border-radius:10px;

}